/* ! Start Global Rules  */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
}

:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --section-padding: 60px;
  --section-background: #f6f6f6;
  --main-duration: 0.5s;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

/** Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/** Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/** Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* ! End Global Rules  */

/* ! Start Header */
.header {
  padding: 20px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .container .logo {
  width: 60px;
}

.header .container .links {
  position: relative;
}

.header .container .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.header .container .links .icon span {
  background-color: black;
  height: 2px;
  margin-bottom: 3px;
  width: 30px;
}

.header .container .links .icon span:nth-child(2) {
  width: 50%;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}

.header .container .links:hover .icon span:nth-child(2) {
  width: 100%;
}

.header .container .links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
  position: absolute;
  right: 5px;
  min-width: 200px;
  top: calc(100% + 12px);
  display: none;
  color: black;
}

.header .container .links:hover ul {
  display: block;
}

.header .container .links ul::before {
  position: absolute;
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #f6f6f6 transparent;
  right: 0;
  top: -20px;
}

.header .container .links ul a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #333;
}

.header .container .links ul li:not(:last-child) {
  border-bottom: .2px solid #DDD;
}

.header .container .links ul li:hover {
  padding-left: 15px;
  transition: .6s;
  -webkit-transition: .6s;
  -moz-transition: .6s;
  -ms-transition: .6s;
  -o-transition: .6s;
}

/* ! End Header */

/* ! Start Landing Section */
.landing {
  background-image: url(../images/landing.jpg);
  background-size: cover;
  height: calc(100vh - 64px);
  position: relative;
}

.landing .intro-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  text-align: center;
  width: 400px;
  max-width: 100%;
}

.landing .intro-text p {
  font-size: 20px;
  line-height: 2;
}

.landing .intro-text h1 {
  margin: 0;
  color: var(--main-color);
  font-size: 50px;
  font-weight: bold;
  letter-spacing: -3px;
}

/* ! End Landing Section */